PORT=4000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=uvision_db
PYTHON_CMD=python
UV_SERIAL_PORT=COM3
UV_BAUD_RATE=9600
UV_READ_INTERVAL=5
WEATHER_DATASET_PATH=C:\path\to\indian_weather.csv
AI_API_PORT=5050
